@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.landing-page{
  background-image: url('../app/landingPageBackground.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.neon-text {
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px rgb(255, 0, 225),
    0 0 82px rgb(255, 0, 225),
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}

h1 {
  font-size: 6.2rem;
  animation: pulsate 1s infinite alternate;
  border: 0.2rem solid #fff;
  border-radius: 2rem;
  padding: 0.4em;
  box-shadow: 0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem #bc13fe,
    0 0 0.8rem #bc13fe,
    0 0 2.8rem #bc13fe,
    inset 0 0 1.3rem #bc13fe;
}

.neon-border{
  border: 0.2rem solid #fff;
    border-radius: 2rem;
    padding: 0.4em;
    box-shadow: 0 0 .2rem #fff,
      0 0 .2rem #fff,
      0 0 2rem #bc13fe,
      0 0 0.8rem #bc13fe,
      0 0 2.8rem #bc13fe,
      inset 0 0 1.3rem #bc13fe;
}

.neon-border-small {
  border: 0.1rem solid #fff;
  border-radius: 2rem;
  padding: 0.2em;
  box-shadow: 0 0 .2rem #fff,
    0 0 .1rem #fff,
    0 0 1rem #bc13fe,
    0 0 0.4rem #bc13fe,
    0 0 1.4rem #bc13fe,
    inset 0 0 0.2rem #bc13fe;
}

@keyframes pulsate {

  100% {

    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #bc13fe,
      0 0 80px #bc13fe,
      0 0 90px #bc13fe,
      0 0 100px #bc13fe,
      0 0 150px #bc13fe;

  }

  0% {

    text-shadow:
      0 0 2px #fff,
      0 0 4px #fff,
      0 0 6px #fff,
      0 0 10px #bc13fe,
      0 0 45px #bc13fe,
      0 0 55px #bc13fe,
      0 0 70px #bc13fe,
      0 0 80px #bc13fe;

  }}

